/* src/index.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* --- SCROLLBAR PERSONALIZADA --- */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #90A4AE #CFD8DC;
}

/* Chrome, Edge, e Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(144, 164, 174, 0.5);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 164, 174, 0.8);
}
